body {
  margin: 0;
  overflow: hidden;
  background: black;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  margin-top: 13vh;
  font-family: "Helvetica", "Arial", sans-serif;
  color: white;
  text-align: center;
}
body::before {
  display: block;
  width: 400px;
  font-size: 60px;
  position: relative;
  top: 40px;
}
body::after {
  content: "";
  width: 410px;
  font-size: 35px;
  position: relative;
  bottom: 70px;
}
